<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.js"></script>

        <title>將資料加入Vue data裡面</title>
    </head>
    <body>
        <div id="app">
            <h1>將資料加入Vue data裡面 - 無渲染</h1>
            <form>
                <div class="mb-3">
                    <label for="productName" class="form-label">產品名稱</label>
                    <input type="text" id="productName" class="form-control" v-model="temp.name" />
                </div>
                <div class="mb-3">
                    <img :src="temp.imageUrl" class="img-fluid d-block" alt="" width="300" />
                    <div>
                        <label for="productImage" class="form-label">產品圖片</label>
                        <input type="text" id="productImage" class="form-control" v-model="temp.imageUrl" />
                    </div>
                </div>
                <button type="button" class="btn btn-secondary" v-on:click="confirmEdit">更新</button>
            </form>
        </div>

        <script>
            const products = [
                {
                    id: '1',
                    imageUrl:
                        'https://images.unsplash.com/photo-1516906571665-49af58989c4e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=300&q=80',
                    name: 'MacBook Pro',
                    onStock: false,
                },
                {
                    id: '2',
                    imageUrl:
                        'https://images.unsplash.com/photo-1512499617640-c74ae3a79d37?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=300&q=80',
                    name: 'iPhone',
                    onStock: false,
                },
            ];
            const App = {
                data() {
                    return {
                        products: [],
                        temp: {
                            name: '卡撐白',
                            imageUrl: 'https://i.ytimg.com/vi/wrFmRxQ73-Y/mqdefault.jpg',
                        },
                    };
                },
                methods: {
                    confirmEdit() {
                        // unix timestamp
                        this.temp.id = new Date().getTime();
                        this.temp.onStock = false;
                        console.log(this.temp);
                        console.log(products);
                        this.products.push(this.temp); //把temp加入到products
                        this.temp = {}; //不清空，新增的資料會一直累加
                    },
                },
                //新增生命週期
                created() {
                    this.products = products;
                },
            };

            Vue.createApp(App).mount('#app');
        </script>
    </body>
</html>

<!-- 
** this.temp.id = new Date().getTime(); 
因為temp裡的屬性沒有id 跟 onStock ，所以要新增。
-->
