<!DOCTYPE html>
<html>
    <head>
        <title>呈現多筆資料</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="images/favicon.ico" rel="shortcut icon" />
        <meta charset="UTF-8" />
        <script src="/javascripts/vendor.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.js"></script>
    </head>
    <body class="bg-lighter">
        <div class="container main my-5">
            <div class="row">
                <main class="col post">
                    <!-- 章節標題 -->
                    <div class="mb-4">
                        <h1 class="mt-0 text-muted">呈現多筆資料</h1>
                        <small>檔名：<code>02_v-for.html</code></small>
                    </div>
                    <!-- 🔥🔥練習開始🔥🔥 -->

                    <div id="app">
                        <h3>呈現多筆資料於畫面上 v-for</h3>
                        <p>菜單</p>
                        <ul>
                            <li v-for="(item, key) in products">{{ key+1 }} - {{ item.name }} / {{ item.price }}元</li>
                        </ul>

                        <h3>物件回圈</h3>
                        <ul>
                            <li v-for="(item, key) in productsObj">{{ key }} - {{ item.name }} / {{ item.price }}元</li>
                        </ul>

                        <h3>純數值回圈</h3>
                        <ul>
                            <li v-for="i in 5">{{ i }}</li>
                        </ul>

                        <h3>v-for 與 key</h3>
                        <p>菜單</p>
                        <ul>
                            <li v-for="(item, key) in products" v-bind:key="item.name">
                                {{ key }} - {{ item.name}} / {{ item.price }} 元
                                <input type="text" />
                            </li>
                        </ul>
                        <p>說明：有相同父元素的子元素必須有獨特的 key。重複的 key 會造成渲染錯誤。</p>
                        <button type="button" v-on:click="reverseArray">反轉資料內容</button>

                        <hr />
                        <h3>進階技巧：在 template 標籤使用 v-for</h3>
                        <table class="table">
                            <tbody>
                                <template v-for="(item, i) in products" v-bind:key="item.name">
                                    <tr>
                                        <th rowspan="2">{{ i +1 }}</th>
                                        <td colspan="2">{{ item.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ item.price }}</td>
                                        <!-- 三元運算子 -->
                                        <td>{{ item.vegan ? '素食可' : '不可素食'}}</td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                        <p>
                            <a
                                href="https://vue3js.cn/docs/zh/guide/list.html#%E5%9C%A8-template-%E4%B8%AD%E4%BD%BF%E7%94%A8-v-for"
                                >參考介紹</a
                            >
                        </p>

                        <h3>補充說明：v-for 與元件</h3>
                        <ul>
                            <list-item :item="item" v-for="(item, key) in products" :key="item.name + 2"></list-item>
                        </ul>
                    </div>

                    <script>
                        const App = {
                            data() {
                                return {
                                    name: '小明',
                                    products: [
                                        {
                                            name: '蛋餅',
                                            price: 30,
                                            vegan: false,
                                        },
                                        {
                                            name: '飯糰',
                                            price: 35,
                                            vegan: false,
                                        },
                                        {
                                            name: '小籠包',
                                            price: 60,
                                            vegan: false,
                                        },
                                        {
                                            name: '蘿蔔糕',
                                            price: 30,
                                            vegan: true,
                                        },
                                    ],
                                    productsObj: {
                                        chineseOmelette: {
                                            name: '蛋餅',
                                            price: 30,
                                            vegan: false,
                                        },
                                        riceBall: {
                                            name: '飯糰',
                                            price: 35,
                                            vegan: false,
                                        },
                                        soupDumpling: {
                                            name: '小籠包',
                                            price: 60,
                                            vegan: false,
                                        },
                                        radishCake: {
                                            name: '蘿蔔糕',
                                            price: 30,
                                            vegan: true,
                                        },
                                    },
                                };
                            },
                            methods: {
                                reverseArray: function () {
                                    this.products.reverse();
                                },
                            },
                        };

                        Vue.createApp(App)
                            .component('list-item', {
                                template: `
          <li>
            {{ item.name}} / {{ item.price }} 元
          </li>
        `,
                                props: ['item'],
                            })
                            .mount('#app');
                    </script>
                    <!-- 🙇🙇練習結束🙇🙇 -->
                </main>
            </div>
        </div>

        <link rel="stylesheet" href="all.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    </body>
</html>
